# [SWE_5_PROCESS](@.md#swe_5_process) Software Component Verification and Integration Verification


Source: Automotive SPICE PAM v4.0, section SWE.5 Software Component Verification and Integration Verification.

## Process purpose

The purpose is to verify that software components are consistent with the software architectural design, and to integrate software elements and verify that the integrated software elements are consistent with the software architecture and software detailed design.

## Process outcomes

1. Verification measures are specified for software integration verification of the integrated software elements based on the software architecture and detailed design, including the interfaces of, and interactions between, the software components.
2. Verification measures for software components are specified to provide evidence for compliance of the software components with the software componentsbehavior and interfaces.
3. Software elements are integrated up to a complete integrated software.
4. Verification measures are selected according to the release scope considering criteria, including criteria for regression verification.
5. Software components are verified using the selected verification measures, and the results of the integration verification are recorded.
6. Integrated software elements are verified using the selected verification measures, and the results of the integration verification are recorded.
7. Consistency and bidirectional traceability are established between verification measures and the software architecture and detailed design; and bidirectional traceability is established between verification results and verification measures.
8. The results of software component verification and software elements integration verification are summarized and communicated to all affected parties

## Base practices

### [SWE_5_BP_1](@.md#swe_5_bp_1) Specify software integration verification measures

```yaml
Type: BasePractice
Process: SWE.5
BasePractice: BP1
```

When implementing this base practice, the organization shall specify software integration verification measures. The practice shall produce or update:

- [wp_08_60_verification_measure](=.md#wp_08_60_verification_measure)
- [wp_06_50_integration_sequence_instruction](=.md#wp_06_50_integration_sequence_instruction)
- [wp_03_50_verification_measure_data](=.md#wp_03_50_verification_measure_data)
- [wp_08_58_verification_measure_selection_set](=.md#wp_08_58_verification_measure_selection_set)
- [wp_15_52_verification_results](=.md#wp_15_52_verification_results)
- [wp_13_51_consistency_evidence](=.md#wp_13_51_consistency_evidence)
- [wp_13_52_communication_evidence](=.md#wp_13_52_communication_evidence)
- [wp_01_03_software_component](=.md#wp_01_03_software_component)
- [wp_01_50_integrated_software](=.md#wp_01_50_integrated_software)

### [SWE_5_BP_2](@.md#swe_5_bp_2) Specify verification measures for verifying software component behavior

```yaml
Type: BasePractice
Process: SWE.5
BasePractice: BP2
```

When implementing this base practice, the organization shall specify verification measures for verifying software component behavior. The practice shall produce or update:

- [wp_08_60_verification_measure](=.md#wp_08_60_verification_measure)
- [wp_06_50_integration_sequence_instruction](=.md#wp_06_50_integration_sequence_instruction)
- [wp_03_50_verification_measure_data](=.md#wp_03_50_verification_measure_data)
- [wp_08_58_verification_measure_selection_set](=.md#wp_08_58_verification_measure_selection_set)
- [wp_15_52_verification_results](=.md#wp_15_52_verification_results)
- [wp_13_51_consistency_evidence](=.md#wp_13_51_consistency_evidence)
- [wp_13_52_communication_evidence](=.md#wp_13_52_communication_evidence)
- [wp_01_03_software_component](=.md#wp_01_03_software_component)
- [wp_01_50_integrated_software](=.md#wp_01_50_integrated_software)

### [SWE_5_BP_3](@.md#swe_5_bp_3) Select verification measures

```yaml
Type: BasePractice
Process: SWE.5
BasePractice: BP3
```

When implementing this base practice, the organization shall select verification measures. The practice shall produce or update:

- [wp_08_60_verification_measure](=.md#wp_08_60_verification_measure)
- [wp_06_50_integration_sequence_instruction](=.md#wp_06_50_integration_sequence_instruction)
- [wp_03_50_verification_measure_data](=.md#wp_03_50_verification_measure_data)
- [wp_08_58_verification_measure_selection_set](=.md#wp_08_58_verification_measure_selection_set)
- [wp_15_52_verification_results](=.md#wp_15_52_verification_results)
- [wp_13_51_consistency_evidence](=.md#wp_13_51_consistency_evidence)
- [wp_13_52_communication_evidence](=.md#wp_13_52_communication_evidence)
- [wp_01_03_software_component](=.md#wp_01_03_software_component)
- [wp_01_50_integrated_software](=.md#wp_01_50_integrated_software)

### [SWE_5_BP_4](@.md#swe_5_bp_4) Integrate software elements and perform integration verification

```yaml
Type: BasePractice
Process: SWE.5
BasePractice: BP4
```

When implementing this base practice, the organization shall integrate software elements and perform integration verification. The practice shall produce or update:

- [wp_08_60_verification_measure](=.md#wp_08_60_verification_measure)
- [wp_06_50_integration_sequence_instruction](=.md#wp_06_50_integration_sequence_instruction)
- [wp_03_50_verification_measure_data](=.md#wp_03_50_verification_measure_data)
- [wp_08_58_verification_measure_selection_set](=.md#wp_08_58_verification_measure_selection_set)
- [wp_15_52_verification_results](=.md#wp_15_52_verification_results)
- [wp_13_51_consistency_evidence](=.md#wp_13_51_consistency_evidence)
- [wp_13_52_communication_evidence](=.md#wp_13_52_communication_evidence)
- [wp_01_03_software_component](=.md#wp_01_03_software_component)
- [wp_01_50_integrated_software](=.md#wp_01_50_integrated_software)

### [SWE_5_BP_5](@.md#swe_5_bp_5) Perform software component verification

```yaml
Type: BasePractice
Process: SWE.5
BasePractice: BP5
```

When implementing this base practice, the organization shall perform software component verification. The practice shall produce or update:

- [wp_08_60_verification_measure](=.md#wp_08_60_verification_measure)
- [wp_06_50_integration_sequence_instruction](=.md#wp_06_50_integration_sequence_instruction)
- [wp_03_50_verification_measure_data](=.md#wp_03_50_verification_measure_data)
- [wp_08_58_verification_measure_selection_set](=.md#wp_08_58_verification_measure_selection_set)
- [wp_15_52_verification_results](=.md#wp_15_52_verification_results)
- [wp_13_51_consistency_evidence](=.md#wp_13_51_consistency_evidence)
- [wp_13_52_communication_evidence](=.md#wp_13_52_communication_evidence)
- [wp_01_03_software_component](=.md#wp_01_03_software_component)
- [wp_01_50_integrated_software](=.md#wp_01_50_integrated_software)

### [SWE_5_BP_6](@.md#swe_5_bp_6) Ensure consistency and establish bidirectional traceability

```yaml
Type: BasePractice
Process: SWE.5
BasePractice: BP6
```

When implementing this base practice, the organization shall ensure consistency and establish bidirectional traceability. The practice shall produce or update:

- [wp_08_60_verification_measure](=.md#wp_08_60_verification_measure)
- [wp_06_50_integration_sequence_instruction](=.md#wp_06_50_integration_sequence_instruction)
- [wp_03_50_verification_measure_data](=.md#wp_03_50_verification_measure_data)
- [wp_08_58_verification_measure_selection_set](=.md#wp_08_58_verification_measure_selection_set)
- [wp_15_52_verification_results](=.md#wp_15_52_verification_results)
- [wp_13_51_consistency_evidence](=.md#wp_13_51_consistency_evidence)
- [wp_13_52_communication_evidence](=.md#wp_13_52_communication_evidence)
- [wp_01_03_software_component](=.md#wp_01_03_software_component)
- [wp_01_50_integrated_software](=.md#wp_01_50_integrated_software)

### [SWE_5_BP_7](@.md#swe_5_bp_7) Summarize and communicate results

```yaml
Type: BasePractice
Process: SWE.5
BasePractice: BP7
```

When implementing this base practice, the organization shall summarize and communicate results. The practice shall produce or update:

- [wp_08_60_verification_measure](=.md#wp_08_60_verification_measure)
- [wp_06_50_integration_sequence_instruction](=.md#wp_06_50_integration_sequence_instruction)
- [wp_03_50_verification_measure_data](=.md#wp_03_50_verification_measure_data)
- [wp_08_58_verification_measure_selection_set](=.md#wp_08_58_verification_measure_selection_set)
- [wp_15_52_verification_results](=.md#wp_15_52_verification_results)
- [wp_13_51_consistency_evidence](=.md#wp_13_51_consistency_evidence)
- [wp_13_52_communication_evidence](=.md#wp_13_52_communication_evidence)
- [wp_01_03_software_component](=.md#wp_01_03_software_component)
- [wp_01_50_integrated_software](=.md#wp_01_50_integrated_software)


